/* Body/ HTML Styling */
body,
html {
  background-color: #FEF4E2;
}

h1, h2 {
  font-weight: 600;
}

.main-header {
  color: #061A75;
  text-align: center;
  font-style: italic
}

.sub-header {
  color: #580C14;
}

.sub-header-2 {
  font-style: italic
}

/* End Body/ HTML */

/* NavBar Styling */

.navbar-flex {
  display: flex;
  justify-content: space-around;
  height: 100%;
  background-color: #EEE4D3;
}

.nav-bar {}

.navbar-flex>a {
  text-decoration: none;
  font-size: 20px;
  color: #A9A297;
  padding: 5px;
}

.navbar-flex>a:hover {
  color: white;
}

/* End NavBar Styling */

/* Photo Nav Styling */

.photonav-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
}

.photonav-item {
  width: 33.333333333333vw;
  height: 30vw;
}

img {
  max-width: 100%;
}

.photonav {
  position: relative;
}

.photonav .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* End PhotoNav Styling */