/* NavBar Styling */

.navbar-flex {
  display: flex;
  justify-content: space-around;
  height: 100%;
}


/* End NavBar Styling */

/* Photo Nav Styling */
.photonav-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
}

.photonav-item{
  width: 33vw;
  height: 40vh;
}

/* End PhotoNav Styling */